body {
    margin: 0;
    padding:0;
    display: flex;
}

.card2 {

    width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-family: sans-serif;
    transition: 0.3s;
}
.card2:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* efeito de quando passa o mouse*/
}

.card2-image {
    width: 100%;
    height: 200px; /* altura fixa pra imagem*/
    object-fit: cover; /* corta imagem sem distorcer*/
}

.card2-content {
    
    padding: 15px; /*espaçamento interno */
    text-align: center;
}

.card2-content h3 {
    margin: 0 0 10px 0;/* aumentando a margem em só um lado */
    font-size: 1.5em; /* tamanho da fonte*/
}

.card2-content p {
    color: #555;
    font-size: 1em;
    margin: 0;
}